APP_PORT=8090
DATA_ROOT=/var/lib/kas-kecil
APP_PEPPER=GANTI_DENGAN_RANDOM_SECRET_MINIMAL_64_KARAKTER
INITIAL_ADMIN_NAME=Administrator
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=GantiPasswordAdmin123
DEFAULT_APP_NAME=Aplikasi Kas Kecil
DEFAULT_COMPANY_NAME=Nama Perusahaan
SERVICE_NAME=kas-kecil
TRUST_PROXY=false
COOKIE_SECURE=false
MOBILE_SESSION_DAYS=30
